img{
    height: 200px;
    width: 200px;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }